.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;
}

body {
  background-color: #376c7a;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #57d9e5;
}

p {
  font-size: 2rem;
  color: #60dcef;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #eeeeee;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

/* FOR ROLL BUTTON */

button {
  height: 3em;
  width: 8em;
  border: none;
  border-radius: 10em;
  background: #016dd9;
  font-size: 17px;
  color: #ffffff;
  font-family: inherit;
  font-weight: 900;
  text-transform: uppercase;
  position: absolute;
  cursor: pointer;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

@media screen and (max-width: 789px) {
  button {
    top: 50%;
  }
}

@media screen and (min-width: 790px) {
  button {
    top: 90%;
  }
}
